<div class="container">
    <div class="row">
        <nav class="col d-flex justify-content-center">
            <ul class="pagination flex-wrap">
                {% if pagination.pages_count != '1' %}
                    {% if pagination.range is iterable %}
                        <li class="page-item mb-1 {{
                            pagination.active == 1
                                ? 'disabled'
                                : ''
                            }}">
                            <a class="page-link"
                                href="{{ current_page }}?page={{
                                pagination.prev_page
                                }}"
                                tabindex="-1"
                                aria-disabled="true">
                                Précédent
                            </a>
                        </li>
                        {% for page_number in pagination.range %}
                            <li class="page-item mb-1 {{
                                page_number == pagination.active
                                    ? 'active'
                                    : ''
                                }}"
                                {{
                                page_number == pagination.active
                                    ? 'aria-current="page"'
                                    : ''
                                }}>
                                <a class="page-link"
                                    href="{{ current_page }}?page={{
                                    page_number
                                    }}">
                                    {{ page_number }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="page-item mb-1 {{
                            pagination.active == pagination.pages_count
                                ? 'disabled'
                                : ''
                            }}">
                            <a class="page-link {{
                                pagination.active == pagination.pages_count
                                    ? 'disabled'
                                    : ''
                                }}"
                                href="{{ current_page }}?page={{
                                pagination.next_page
                                }}">
                                Suivant
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item mb-1 disabled">
                            <a class="page-link disabled"
                                href="{{ current_page }}?page=1"
                                tabindex="-1"
                                aria-disabled="true">
                                Précédent
                            </a>
                        </li>
                        <li class="page-item mb-1 active" aria-current="page">
                            <a class="page-link"
                                href="{{ current_page }}?page=1">
                                1
                            </a>
                        </li>
                        <li class="page-item mb-1 disabled">
                            <a class="page-link disabled"
                                href="{{ current_page }}?page=1">
                                Suivant
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
