<div class="row mb-3">
    <div class="col">
        <a class="btn main-btn primary-btn btn-hover btn-md" title="Revenir à la liste" href="{{ current_page }}"><i
                class='bx bx-left-arrow-alt'></i> Retour</a>
    </div>
</div>
<div class="row">
    <div class="col-xxl-9 col-lg-8">
        <div class="client-profile-wrapper mb-30">
            <div class="client-cover">
                <img height="200" src="{{ companies.logo }}" alt="Logo de la société">
            </div>
            <div class="client-profile-photo">
                <div class="profile-meta text-start py-3 px-5">
                    <h3 class="text-bold mb-10">{{ companies.name }}</h3>
                </div>
            </div>
            <div class="client-info px-5">
                {% if companies.bio %}
                {% if companies.bio is not empty %}
                <h5 class="text-bold mt-15">Bio</h5>
                <p class="text-sm mb-20">
                    {{ companies.bio }}
                </p>
                {% endif %}
                {% endif %}

                <div class="row">
                    <h5 class="text-bold mt-15">Adresse</h5>
                    <p>{{ companies.address_line_1 }}</p>
                </div>

                {% if address_line_2 is not empty %}
                <div class="row">
                    <h5 class="text-bold mt-15">Complément d'Adresse</h5>
                    <p>{{ companies.address_line_2 }}</p>
                </div>
                {% endif %}

                <div class="row">
                    <h5 class="text-bold mt-15">Ville</h5>
                    <p>{{ companies.city|upper }}</p>
                </div>

                <div class="row">
                    <h5 class="text-bold mt-15">Région</h5>
                    <p>{{ companies.state }}</p>
                </div>

                <div class="row">
                    <h5 class="text-bold mt-15">Code Postal</h5>
                    <p>{{ companies.zip }}</p>
                </div>

                <div class="row">
                    <h5 class="text-bold mt-15">Pays</h5>
                    <p>{{ companies.country }}</p>
                </div>

                <div class="row">
                    <h5 class="text-bold mt-15">Créée le</h5>
                    <p>{{ companies.created_at|date("\\L\\e d/m/Y \\à H\\Hi", "Europe/Paris") }}</p>
                </div>

                <div class="row">
                    <h5 class="text-bold mt-15">Mise à jour le</h5>
                    <p>{{ companies.updated_at|date("\\L\\e d/m/Y \\à H\\Hi", "Europe/Paris") }}</p>
                </div>

                <ul class="socials d-flex justify-content-between py-5">
                    {% if companies.facebook %}
                    {% if companies.facebook is not empty %}
                    <li>
                        <a href="{{ companies.facebook }}" target="_blank" class="bg-white profile-social-icon"><i
                                class='bx bxl-facebook'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if companies.twitter %}
                    {% if companies.twitter is not empty %}
                    <li>
                        <a href="{{ companies.twitter }}" target="_blank" class="bg-white profile-social-icon"><i
                                class='bx bxl-twitter'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if companies.instagram %}
                    {% if companies.instagram is not empty %}
                    <li>
                        <a href="{{ companies.instagram }}" target="_blank" class="bg-white profile-social-icon"><i
                                class='bx bxl-instagram'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if companies.linkedin %}
                    {% if companies.linkedin is not empty %}
                    <li>
                        <a href="{{ companies.linkedin }}" target="_blank" class="bg-white profile-social-icon"><i
                                class='bx bxl-linkedin'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if companies.email %}
                    {% if companies.email is not empty %}
                    <li>
                        <a href="mailto:{{ companies.email }}" class="bg-white profile-social-icon"><i
                                class='bx bx-envelope'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if companies.phone %}
                    {% if companies.phone is not empty %}
                    <li>
                        <a href="tel:{{ companies.phone }}" class="bg-white profile-social-icon"><i
                                class='bx bx-phone'></i></a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>